/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*{
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #000;
	transition: background-color 1000ms;
}

section {
	border-radius: 20px;
	background-color: #333333;
	color: #FFFFFF;
}

a, a:visited {
	color: inherit;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

#title-bar {
	background-color: #FFF;
	color: #FFF;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding: 20px;
	transition: background-color 1000ms;
}

#a-list {
	position: absolute;
	float: left;
	top: 90px;
	left: 0px;
	background-color: #CCC;
	color: #FFF;
	padding-left: 10px;
	padding-right: 20px;
	height: 100%;
	transition: background-color 1000ms, left 500ms;
}

#a-list li {
	display: block;
	border-top: 1px solid #CCC;
	padding-top: 20px;
	margin-top: 20px;
	font-size: 30px;
}

#a-list li:last-child {
	padding-bottom: 20px;
	border-bottom: 1px solid #CCC;
}

#active-section {
	font-size: 20px;
	background-color: #444;
	border: 1px solid #CCC;
	border-radius: 20px;
	padding: 30px;
	width: 800px;
	margin: 15px auto;
	text-align: left;
	overflow: hidden;
	line-height: 150%;
	list-style: disc;
	transition: opacity 500ms;
}

#active-section a{
	color: #47B6FF;
}

#active-section h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 20px;
}

#active-section h2{
	font-size: 20px;
}

#partial-register {
	display: none;
}

#hamburger {
	float: left;
	position: absolute;
	left: 20px;
}

#hamburger:hover {
	text-decoration: none;
	color: #CCC;
}

#profile-pic {
	float: right;
	right: 20px;
	top: 3px;;
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius:150px;
	border: 1px solid #CCC;
}

#profile-pic:hover {
	border-color: #F00;
}

keyword {
	display: inline;
	color: #0A0;
}

.itals {
	font-style: italic;
}

.cent {
	text-align: center;
}

.hidden-list {
}

.screenshot {
	height: 200px;
	float: right;
}

.screenshot:hover {
	cursor: zoom-in;
}